.main_jobs{
    list-style: none;
    background-color: white;
    width:30%;
    padding: 20% 20%;
    margin-top: 5%;
    border-radius: 4px;
}
.main_jobs ul{
    list-style: none;
}
@media (max-width:400px) {
    .main_jobs{
        padding: none;
        margin: none;
    }
    .main_jobs ul{
        padding: none;
    }
}